*.vcd
*.gtkw
rtl/mips_cache_l2.v
*.out
*.log
*.instr.hex

test/Assembler/src/test.txt
test/Assembler/src/output.txt

test/3-output/*.hex

yaya.sh
play*.sh

coolstuff.py
currstate.txt

.vscode

!test/waveforms/mips_CPU_bus_tb.gtkw